.heigh96{
    height: 97%;
}
body{
    background-color: #EDEFF2;
}
  


  /* Webkit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* 菜单项容器元素的折叠样式 */
.collapsed {
  width: 56px;
}

/* 子菜单容器元素的折叠样式 */
.submenu.collapsed {
  display: none;
}
